/* CSS VARIABLES */
:root {
  --primary: rgb(1, 11, 39);
  --dark: rgb(1, 103, 255);
  --light: rgb(235, 235, 235);
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --shadow2: 0 2px 9px rgba(104, 104, 104, 0.8);
  --cancel: rgb(208, 68, 68);
  --accept: rgb(58, 184, 58);
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primary);
}

body {
  background: rgb(240, 240, 240);
  margin: 30px 50px;
  line-height: 1.4;
}

.btn {
  background-color: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

.btn:hover {
  transition: ease 0.1s;
  filter: brightness(125%);
  cursor: pointer;
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

/* Navigation */
.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
  background: var(--primary);
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--light);
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
}

#btn-active {
  background: var(--dark);
}

.main-nav a:hover {
  background: var(--dark);
  color: var(--light);
}

/* Top Container */
.top-container {
  display: grid;
  grid-template-areas: "showcase";
}

/* Showcase */
.showcase {
  grid-area: showcase;
  min-height: 400px;
  background: url(../img/seefeld_50km_web.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  z-index: 50;
  box-shadow: var(--shadow);
}

.showcase h1 {
  font-size: 4rem;
  margin: auto;
  padding-right: 150px;
  color: rgb(252, 249, 249);
  text-shadow: 1px 1px rgba(1, 11, 39, 0.8);
}

.showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--light);
}

/* Boxes */
.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
  color: var(--light);
}

/* Info */
.info {
  background: var(--primary);
  box-shadow: var(--shadow);
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
  color: var(--light);
}

#no-decoration {
  text-decoration: none;
  color: var(--light);
}

/* Form-style */
.oppgave .form-style {
  max-width: 500px;
  padding: 10px 20px;
  background: #f4f7f8;
  margin: 20px auto;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: var(--shadow2);
}

.oppgave .form-style fieldset {
  border: none;
}
.oppgave .form-style legend {
  font-size: 1.4em;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primary);
}
.oppgave .form-style label {
  display: block;
  margin-bottom: 8px;
}

.oppgave .form-style input {
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #4b708a;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

.oppgave .form-style input:focus {
  background: #d2d9dd;
}

.oppgave .form-style button {
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
  font-style: normal;
  width: 70%;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}

/* Confirmation box */
.confirmation {
  padding: 20px 20px;
  background-color: var(--accept);
  width: 50%;
  margin: auto;
  color: var(--light);
  font-size: 20px;
  letter-spacing: 0.5px;
  box-shadow: var(--shadow);
}

/* Deny box */
.cancelation {
  padding: 20px 20px;
  background-color: var(--cancel);
  width: 50%;
  margin: auto;
  color: var(--light);
  font-size: 20px;
  letter-spacing: 0.5px;
  box-shadow: var(--shadow);
}

/* Table */
.table {
  border-collapse: collapse;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color: var(--dark);
  color: white;
}

/* Oppgave */
.oppgave {
  display: grid;
  box-shadow: var(--shadow);
  width: 100%;
  justify-self: center;
  text-align: center;
  padding-bottom: 10px;
}

.oppgave a {
  width: 200px;
  box-shadow: var(--shadow);
  text-decoration: none;
}

.oppgave a:hover {
  background-color: var(--dark2);
  box-shadow: var(--shadow2);
  transition: ease 0.1s;
}

.oppgave .btn {
  margin-top: 20px;
  box-shadow: var(--shadow);
  background-color: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

.oppgave .btn-cancel {
  margin-top: 20px;
  box-shadow: var(--shadow);
  background-color: var(--cancel);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

.oppgave .btn:hover,
.btn-cancel:hover {
  filter: brightness(150%);
  box-shadow: var(--shadow2);
  transition: ease 0.1s;
  cursor: pointer;
}

/* Footer */
footer {
  margin-top: 2rem;
  background: var(--primary);
  color: var(--light);
  text-align: center;
  padding: 1rem;
}
